.shadows {
    box-shadow:0 0 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }

  /* .shadows img {
    transition: transform 0.3s ease;
  }
   */


.shadows:hover {
    transform:scale(1.1)
}