.product-image-cart {
    max-width: 50px;
    max-height: 50px;
}
.total-price {
    margin-right: 10px;
    bottom: 10%;
}
.total-price-texto {
    margin-right: 10px;
    bottom: 5%;
}
.button-checkout {
    margin-right: 10px;
    bottom: 1%;
}