.tamaño-de-imagen{
    width: 300px;
    height: 300px;
    justify-content: center;
}
.back-grnd {
    background:  rgb(23,115,176);
    background: radial-gradient(circle, rgb(39, 154, 241, 1) 0%, rgba(10, 35, 66, 1) 100%);
    overflow-x: hidden;
}